@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  header nav {
    display: none;
  }
  .blog-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .first-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .scoial-icons {
    align-items: flex-start;
    margin-top: 60px;
  }
  .first-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-second-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fourth-items-content {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .hero-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 160px 0 80px 0;
    gap: 20px;
  }
  .blog-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .heros-items {
    margin-bottom: 20px;
  }
  .hero-section .btn-green {
    display: block;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .first-items ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-second-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .third-items-content {
    margin-top: 40px;
    line-height: 30px;
  }
  .third-items-content a {
    line-height: 30px;
  }
  .copy-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .copy-content {
    padding-bottom: 20px;
  }
  .copy-content h5 {
    line-height: 27px;
  }
  .gallery-all-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
  }
}

@media (max-width: 575px) {
  .header-img img {
    max-width: 140px;
  }
  .blog-title {
    text-align: left;
  }
  .blog-title h3 {
    font-size: 31px;
    color: var(--green-dark);
    line-height: 61px;
    font-weight: 700;
    max-width: 700px;
    margin: auto;
    padding-top: 20px;
  }
  .checkbox {
    display: block;
  }
  .nav-menu.active {
    display: block;
    flex-direction: column;
    position: absolute;
    background: var(--white);
    top: 81%;
    right: 0;
    left: 0;
    z-index: 9;
    height: 100vh;
    padding: 44px 0;
  }
  .se-icon {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  .heros-items h1 {
    font-size: 54px;
    color: var(--white);
    font-weight: 500;
    line-height: 92px;
  }
  .btn-green {
    display: none;
  }
  header nav ul {
    display: flex;
    align-items: flex-start;
    gap: 42px;
    height: 100%;
    padding: 47px 0 0 0;
  }
  .btn-orange-1 {
    margin-top: 83px;
    display: block;
  }
  header nav ul a {
    color: var(--green-dark);
  }
  .logo-black {
    display: block;
    padding: 30px 20px;
  }
  .forms input {
    border: 2px solid var(--gray);
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
  }
  .forms ::placeholder {
    font-size: 17px;
  }
  .forms {
    display: block;
    margin: 0 20px;
  }
  .logos {
    display: block;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .gallery-all-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
  }
}
